In [79]:

import pandas as pd
df = pd.read_csv('E:/Data analyst for python/INPUT_sales.csv',usecols=['StockCode','Quantity','Description','Price'])
df['Revenue'] = df['Quantity']*df['Price']
df = df[df['Price']>=0].groupby('StockCode').agg({'Quantity':'sum','Revenue':'sum'}).sort_values(by='Revenue',ascending=False).reset_index()
#Những mã hàng nào thuộc nhóm nào 
df['CumSumRevenue'] = df['Revenue'].cumsum()
df['%CumSumRevenue'] =  df['CumSumRevenue']/sum(df['Revenue'])*100
df['Class'] = pd.cut(x = df['%CumSumRevenue'], bins=[1,80,95,100],labels=['A','B','C'])
df 
#Số lượng mã hàng theo từng nhóm
df1 = df.groupby('Class').agg({'StockCode':'count','Revenue':'sum'}).rename(columns ={'StockCode':'number_of_sku'}).reset_index()
df1['sales_percentage'] =  (df1['Revenue']/sum(df1['Revenue'])).round(2)
df1['sku_percentage'] = (df1['number_of_sku']/sum(df1['number_of_sku'])).round(2)
df1

  Class  number_of_sku       Revenue  sales_percentage  sku_percentage
0     A           1004  1.677744e+07              0.80            0.20
1     B           1285  3.145807e+06              0.15            0.26
2     C           2696  1.049343e+06              0.05            0.54

       StockCode      Description  Quantity     Price   Revenue
174809         B  Adjust bad debt         1 -53594.36 -53594.36
268853         B  Adjust bad debt         1 -44031.79 -44031.79
393373         B  Adjust bad debt         1 -38925.87 -38925.87
806754         B  Adjust bad debt         1  11062.06  11062.06
806755         B  Adjust bad debt         1 -11062.06 -11062.06
806756         B  Adjust bad debt         1 -11062.06 -11062.06